<div class="modal fade" id='modal-add'>
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Row add</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
        <p>Add row</p>
        <form role='form' class='form-horizontal' id='add-form'>
          <% _.each(get_row_add(), function (row){ %>
          <%= row.html() %>
          <% }) %>
        </form>
      </div>
      </div>
      <div class='row'/>
      <div class="modal-footer">
        <button type="button" class="save-btn btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn-add btn btn-primary">Add row</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
